.accordion-item {
  width: 450px;
}

.accordion-title {
  cursor: pointer;
}

.accordion-content {
  overflow: hidden;
  height: 0;
  transition: .3s height;
}

#arrow {
  transition: .3s transform;
}

.open-accordion {
  height: 150px;
}

.arrow-transform {
  transform: rotate(180deg);
}

@media (max-width: 555px) {
  .accordion-item {
    width: 300px;
  }
  .open-accordion {
    height: 120px;
  }
}

@media (max-width: 300px) {
  .accordion-item {
    width: 200px;
  }
}