.container.is--team{
    padding-left: 3em;
    padding-right:3em;
}
.team_list {
    display              : -ms-grid;
    display              : grid;
    grid-auto-columns    : 1fr;
    grid-column-gap      : 16px;
    grid-row-gap         : 16px;
    -ms-grid-columns     : 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows        : auto;
    grid-template-rows   : auto
  }
  .team_item--inner{
    background-color: transparent;
  }

  @media screen and (max-width:479px) {

    .team_list{
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
    }

}

.blog-img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.blog-img img {
  width: 70%;
  height: 700px;
  object-fit: cover;
}
.elrond_text--wrap h3 {
  text-transform: uppercase;
}

.elrond_text--wrap {
  margin: 50px auto;
}

.back-blog a {
  background-color: #46A29F;
  height: 50px;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: skew(-10deg);
  font-size: 1rem;
}

.back-blog {
  width: 100%;
  text-align: center;
}