@font-face {
  font-family: modernist-bold;
  src: url("/public/font/sk-modernist-bold.otf") format("opentype");
}

@font-face {
  font-family: modernist;
  src: url("/public/font/sk-moderinist.otf") format("opentype");
}

@font-face {
  font-family: montserrat;
  src: url(/public/font/montserrat.ttf) format("opentype");
}

body {
  cursor: none;
  overflow-x: hidden;
  font-family: modernist-bold !important;
}

p {
  font-family: modernist !important;

}

a {
  cursor: none !important;

}

/*hide webflow badge*/
.w-webflow-badge {
  display: none !important;
}

/*preloader and editor*/
.preloader {
  display: flex;
}

.w-editor .preloader {
  display: none;
}

.w-editor body {
  cursor: auto !important;
}

.nav_menu--new {
  overflow: hidden;
}

/*cursor*/
body:hover .cursor {
  opacity: 1;
}

.cursor {
  pointer-events: none;
}
